<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stock Price Lookup</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Stock Price Lookup</a>
	</nav>
	<div class="container my-5">
		{% if error %}
		<div class="alert alert-danger" role="alert">
			{{ error }}
			<a href="/" class="alert-link ml-3">Search Again</a>
		</div>
		{% endif %}
		<form method="POST" action="/" class="my-4">
			<div class="form-group">
				<label for="symbol">Enter Stock Ticker:</label>
				<input type="text" class="form-control" id="symbol" name="symbol" placeholder="----">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-SAmq3WJCE8NvD+LmVn1b5rAfMd5CJn5mX9e7m02CFgoWkbV8Qv8pFXGsV7eKx+Iu"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
